body {
    background-color: #14181c;
    margin: 15px auto;
    padding: 10px 10px;
    max-width: 900px;
    width: 80%;
    color: white;
    font-family: IBMPlexSans;
    font-size: 1.2rem
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('assets/fonts/IBMPlexSans-Text.otf') format('truetype');
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('assets/fonts/IBMPlexSans-Bold.otf') format('truetype');
    font-weight: bold
}

nav {
    font-family: IBMPlexSans;
}

a {
    margin-right: 20px;
    color: #93B1CF;
    text-decoration: none;
}

a:visited {
    color: #AB859C;
    text-decoration: none;
}

a:hover {
    color: #AB859C;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h1, h2 {
    font-family: IBMPlexSans;
    color: white;
    font-weight: bold;
}



p {
    font-family: IBMPlexSans;
    color: white;
}

span.email b {
	display: none;
}